.products {
  display: flex;
  justify-content: space-between;
}

.product-item {
  width: 24%;
}

.product-item img {
  width: 100%;
  height: 150px;
  padding: 2px;
  border: 1px solid white;
}

.product-desc {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
  margin-top: 20px;
}

button {
  display: block;
  width: 100%;
  border: 0;
  background-color: #2a5ea2;
  color: white;
  padding: 7px;
  border-radius: 6px;
}